*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins",sans-serif;
}

:root{
    --bg-color:#080808;
    --second-bg-color:#1b0000;
    --text-color:white;
    --main-color: rgb(206, 114, 242); /*#0dd2af*/

}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.Tasks{
    background: url("Assets/icon/telephone.png")center no-repeat;
    background-size: cover;
}
.project-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    margin: 5rem 0;
    gap: 3rem;
    row-gap: 5rem;
}
.project-card{
    height: 600px;
    max-width: 450px;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(30px);
    border: 2px solid var(--main-color);
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.4s ease;

}
.project-card:hover{
    box-shadow: 0 0 25px var(--main-color),
    0 0 50px var(--main-color);
    transform: scale(1.02);
}
.project-card img{
    max-width: 18vw;
    object-fit: cover;
}
.project-card h3{
    font-size: 3rem;
}
.project-card p{
    font-size: 1.6rem;
}

@media (max-width: 1285px) {
    html{
        font-size: 55%;
    }
    .Qualifications-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(1,1fr);
        margin: 0 5rem;
    }
    .project-box{
        grid-template-columns: repeat(2,1fr);

    }
    .project-box img{
        min-width: 30vw;

    }

}

@media (max-width: 991px) {

    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .contact form{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 3%;
    }

}

@media (max-width: 895px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }

    .navbar .active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }

    .home {
        flex-direction: column-reverse;
        margin: 5rem 4rem;
        gap: 3rem;
    }

    .home-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 8rem;
        margin-top: 3rem;
    }

    .home-content p {
        max-width: 600px;
        margin: 0 auto;
    }

    .home-img img {
        width: 56vw;
        margin: 3rem 0;
    }

    .about {
        flex-direction: column-reverse;
        padding: 10rem 9% 10rem;
    }

    .about .heading {
        margin: 3rem 0;
    }

    .about img {
        width: 50vw;
    }

    .Qualifications h2 {
        margin-bottom: 3rem;
    }

    .Qualifications-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-box img {
        min-width: 42rem;
    }

}
