@media screen and (max-width: 426px) {


    .menu-icon {
        font-size: 24px;
        display: inline-flex;
    }

    /*body{*/
    /*    border: 2px solid red;*/
    /*}*/
    .navigation {
        display: none;
        position: absolute;
        top: 50px;
        left: 10px;
        height: 100vh;
        background-color: #333;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
    }

    /* Show navigation when active (e.g., after clicking menu) */
    .navigation.active {
        display: flex;
        background: #021925;
        width: 50%;
    }

    .navigation li {
        width: 20%;
        padding: 10px 0;
        text-align: start;
        border: 2px solid darkgrey;
    }


    .Home{
        border: 2px solid red;
        height: 90vh;
        display: flex;
        align-items: center;
        padding: 0 10%;
        width: auto;
    }


    .hContent .image {
        position: relative;
        top: 50px;
        right: 30;
        width: 700px;
        height: 90vh;
    }

    .image img {
        width: 100%;
        height: 100%;
    }



    .About-section{
        /*border: 2px solid lightseagreen;*/
        top: 40px;
        padding: 0 0 0 5%;
    }


    .project-section {
        margin-top: 50px;
        position: relative;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 8% 0 0 10%;
        letter-spacing: normal;
        width: 100%;
        border: 2px solid red;


    }
    .project-section .cards{
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 0;
        left: 0;
        padding: 0;
        border: 2px solid yellow;


    }



    .project-section .morebtn{
        left: 75%;
        width: 150px;
        height:40px;

    }

    .morebtn span{
        width: 30px;
        height: 30px;
        font-size: 1em;
    }

    .skills-section{
        /*border: 2px solid lightcoral;*/
        padding: 0 0 0 5%;
        height: 170vh;
    }

    .skillSub-content img{
        height: 50px;
        width: 80%;

    }

    .education-section{
        /*border:  2px solid lightsteelblue;*/
        position: relative;
        top: 100px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 0 0 5%;


    }

    .timeline {
        padding-left: 50px;
        left: 10%;
    }

    .service-section{
        /*border: 3px solid #055b0d;*/
        position: relative;
        padding: 0 0 0 5%;
        top: 120px;
        height: 100vh;
        width: 100%;
        margin-bottom: 0;
    }

    .cards-services{
        top: 20%;
    }

    .cards-services .card-1{
        width: 200px;
        height: fit-content;
    }

    .card-1 p{
        font-size: 12px;
    }

    .cards-services .card-2{
        width: 200px;
        height: fit-content;
    }
    .card-2 p{
        font-size: 12px;
    }

    .cards-services .card-3{
        width: 200px;
        height: fit-content;
    }
    .card-3 p{
        font-size: 12px;
    }

    .Gallery-section{
        padding: 0 0 0 5%;
        /*border: 2px solid lightyellow;*/
        top: 100px;
        margin-bottom: 0;
    }

    .Gallery-section .photos {
        padding: 0;
        top: 10px;
        margin-left: 0;
        margin-bottom: 0;
    }
    .Gallery-section .photos img{
        width: 150px;
        border: #081b29 solid 2px;
    }
    .lastphoto1{
        height: 200px;
    }
    .contacts-section{
        padding: 0 0 0 5%;
        /*border: 2px solid green;*/
        top: 100px;
        width: 100%;
    }


    .ContactForm{
        position: relative;
        display: flex;
        top: 100px;
        left: 50%;
    }


    form input{
        width: 250px;

    }
    form textarea{
        width: 250px;
    }

    .ContactForm button{
        opacity: .7;
        position: relative;
        color: #46a4ea;
        bottom: 135px;
        right: 450px;
        font-size:20px;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        background: #073750;
        border: 4px solid #90bef8;
        font-weight:50;
    }








}