
@media screen and (max-width: 1441px){

    header {
        padding: 10px 2% 10px 10%;
    }
    .logo{
        font-size: 30px;
    }
    .navigation a{
        font-size: 21px;
    }
    .navigation a:hover{
        font-size: 24px;
    }
    .Home{
        padding: 10px 5% 10px 8%;
        margin-bottom: 30px;
    }
    .hContent h1{
        font-size: 65px;
        font-weight: 600;
    }
    .hContent h3{
        font-size: 40px;
        font-weight: 700;
        padding-bottom: 10px;

    }
    .hContent p{
        font-size: 20px;
        width: 55%;
    }
    .resumebutton{
        top: 40px;
        height: fit-content;
        width: fit-content;
    }

    .resumebutton button{
        font-size: 20px;
    }

    .social-media{
        bottom: 50px;
        width: fit-content;
    }

    .social-media a{
        width:50px ;
        height: 50px;
    }
    .social-media i{
        font-size: 25px;
    }

    .hContent .image {
        overflow-x: unset;
        left: 58%;
        right: 0;
        width: 600px;
        height: 80vh;
    }

    .About-section{
        margin-top: 200px;
        padding: 10px 5% 10px 8%;
    }

    .about-title{
        font-size: 55px;
        font-weight: 300;
    }

    .sub-title{
        font-size: 30px;
        top: 50px;
        margin-bottom: 40px;
    }
    .about-para{
        font-size: 20px;
        top: 50px;
        width: 60vw;
    }

    .my-detailabout{
        font-size: 20px;
        font-weight: bolder;
    }

    .project-section{
        margin-top: 200px;
        padding: 10px 5% 10px 8%;
    }

    .project-section .title{
        font-size: 55px;
        font-weight: 300;
    }

    .project-section .cards {
        top: 5vh;
    }

        .project-section .card1{
        height: 300px;
        border-width:6px 1px 6px 1px;
        width: 200px;
    }
    .project-section .card2{
        height: 300px;
        border-width:6px 1px 6px 1px;
        width: 200px;
    }

    .project-section .card3{
        height: 300px;
        border-width:6px 1px 6px 1px;
        width: 200px;
    }

    .project-section .morebtn{
        top: 120px;
        left: 80%;
    }

    .skills-section{
        padding: 10px 5% 10px 8%;
        margin-bottom: 0;


    }
    .skills-section #Skills{
        font-size: 55px;
        font-weight: 700;
    }
    .skill-set{
        font-size: 20px;
    }

    .education-section{
        top: 100px;
        padding: 10px 5% 10px 8%;
        margin-top: 100px;
        margin-bottom: 10px;

    }
    .education-title{
        font-size: 55px;
        font-weight: 300;
    }
    .service-section{
        top: 170px;
        padding: 10px 5% 10px 8%;
        margin-bottom: 100px;
    }


    .service-title{
        font-size: 55px;
        font-weight: 300;
    }

    .Gallery-section{
        padding: 10px 5% 10px 8%;
        height: fit-content;
    }


    .Gallery-section .photos {
       left: 6%;
    }

    .Gallery-section .Gallery-title{
        font-size: 55px;
        font-weight: 300;
        margin-bottom: 50px;

    }

    .contact-content{
        top: 100px;
    }

    .contacts-section{
        padding: 10px 5% 10px 8%;
        width: fit-content;
    }
    .contacts-section .contact-title{
        font-size: 55px;
        font-weight: 300;
    }
    .ContactForm{
        top: -100px;
        left: 800px;
        margin-bottom: 1px;
    }

    footer{
        text-align: center;
        margin-top: 200px;
        height: 30vh;
        width:100%;
        right: 1px;
        left: 1px;
        bottom: 1px;
        border: 2px solid #6f0c72;
    }

    footer .copyrights p{
        top: 100px;
    }



    /*.Home{*/
    /*    padding: 0 5% 0 ;*/
    /*}*/

    /*.hContent h1{*/
    /*    font-size: 35px;*/
    /*    font-weight: 700;*/
    /*}*/

    /*.hContent p{*/
    /*    font-size: 13px;*/
    /*    width: 39%;*/
    /*}*/
    /*.hContent h3{*/
    /*    font-size: 18px;*/
    /*    font-weight: 600;*/
    /*}*/

    /*.resumebutton{*/
    /*    height: fit-content;*/
    /*    width: fit-content;*/
    /*    top: 18px;*/

    /*}*/

    /*.resumebutton button {*/
    /*    font-size: 12px;*/
    /*    bottom: 15px;*/
    /*}*/
    /*.social-media{*/
    /*    top: 75%;*/
    /*    width: fit-content;*/
    /*}*/
    /*.hContent .image {*/
    /*    position: absolute;*/
    /*    top: 50px;*/
    /*    left:50%;*/
    /*    width: 500px;*/
    /*    height: fit-content;*/
    /*}*/

    /*.About-section{*/
    /*    top: 60px;*/
    /*    padding: 0 5% 0 ;*/
    /*}*/

    /*.project-section{*/
    /*    margin-top: 200px;*/
    /*    padding: 0 5% 0 ;*/
    /*    width: fit-content;*/
    /*}*/

    /*.project-section .cards {*/
    /*    width: fit-content;*/
    /*    margin-left: 20%;*/
    /*}*/
    /*.project-section .morebtn{*/
    /*    top: 200px;*/
    /*    left: 850px;*/
    /*}*/

    /*.skills-section{*/
    /*    height: 150vh;*/
    /*    padding: 0 5% 0 ;*/
    /*    margin-bottom: 0;*/
    /*}*/

    /*.skillSub-content{*/
    /*    margin-bottom: 0;*/
    /*}*/
    /*.education-section{*/
    /*    top: 100px;*/
    /*    margin-top:0;*/
    /*    padding: 0 5% 0 ;*/
    /*    width: fit-content;*/
    /*    margin-bottom: 0;*/
    /*}*/

    /*.service-section{*/
    /*    top: 100px;*/
    /*    padding: 0 5% 0 ;*/
    /*    width: fit-content;*/
    /*    margin-bottom: 10px;*/
    /*}*/

    /*.cards-services{*/
    /*    padding-left: 0%;*/
    /*    top: 50px;*/
    /*}*/
    /*.Gallery-section{*/
    /*    top: 10px;*/
    /*    padding: 0 5% 0 ;*/
    /*    margin-bottom: 10px;*/
    /*    letter-spacing: 0;*/
    /*}*/


    /*.Gallery-section .photos {*/
    /*    top: 10px;*/
    /*    margin-bottom: 10px;*/
    /*    justify-content: normal;*/
    /*    align-content: normal;*/
    /*    width: fit-content;*/

    /*}*/

    /*.Gallery-section .photos img{*/
    /*    width: 250px;*/
    /*}*/

    /*.lastphoto1{*/
    /*    height: 340px;*/
    /*}*/

    /*.contacts-section{*/
    /*    top: 0;*/
    /*    padding: 0 5% 0 ;*/
    /*    width: fit-content;*/
    /*}*/

    /*.contact-content{*/
    /*    top: 100px;*/
    /*}*/

    /*.ContactForm{*/
    /*    position: absolute;*/
    /*    top: 100px;*/
    /*    left: 650px;*/
    /*    bottom:0;*/
    /*}*/
    /*.ContactForm button{*/
    /*    bottom: 150px;*/
    /*    right: 650px;*/
    /*    font-size:30px;*/
    /*    font-weight:600;*/
    /*}*/


}


@media screen and (max-width: 1024px){


    .navigation a{
        font-size: 16px;
        text-decoration: none;
        font-weight: 400;
        margin-left:10px ;
    }

    .logo{
        font-size: 20px;
        font-weight: 600;
    }
    header {
        width: 100%;
        padding: 15px 5% 15px 5%;
    }

    .Home{
        position: relative;
        top: 40px;
        height: 100vh;
        padding: 0 5% 0 5%;
    }

    .hContent h1{
        position: relative;
        bottom: 50px;
        overflow: hidden;
        font-size: 45px;
        padding: 0;
        width: fit-content;
        z-index: 2;
    }


    .hContent h3{
        position: relative;
        bottom: 55px;
        font-size: 18px;
        padding-bottom: 20px;
        margin-top: 0;
        font-weight: 700;
        z-index: 1;
    }

    .hContent p{
        position: relative;
        bottom: 70px;
        font-size: 12px;
        z-index: 3;
        margin:10px 0 10px 0;
        letter-spacing: .3px;
        width: 45%;
    }

    .hContent .image {
        position: absolute;
        top: 20px;
        left: 51%;
        width: 500px;
        z-index: 0;
        height: 95vh;

    }

    .resumebutton{
        position: relative;
        top: 0;
        height: fit-content;
        width: fit-content;
    }

    .resumebutton button{
        letter-spacing: 1px;
        border-radius: 30px;
        padding: 10px 10px;
        font-size: 12px;
        font-weight: 500;
        bottom: 50px;
    }

    .social-media{
        bottom: 120px;
        width: fit-content;
    }

    .social-media i{
        font-size: 20px;
        top: 5px;
        right: 7px;
    }
    .social-media a{
        width:35px ;
        height: 35px;
        margin-right: 15px;
    }

    .About-section{
        height: 150vh;
        top: 20px;
        padding: 0 5% 0 5%;
        margin-top: 10px;
    }

    .about-title{
        font-size: 30px;
        font-weight: normal;
    }

    .about-para{
        top: 100px;
        width: 80%;
        font-size: 15px;
    }

    .sub-title{
        font-size: 25px;
        top: 100px;
    }
    .my-detailabout{
        top: 200px;
        font-size: 14px;
        width:100%;
        margin-top: 10px;
        letter-spacing: .8px;
        height: 25%;
    }

    .project-section{
        top: 40px;
        padding: 0 5% 0 5%;
        margin-top: 0;
        height: 120vh;
        width: 100%;
    }
    .project-section .title{
        top: 30px;
        margin-bottom: 40px;
        font-size: 30px;
        font-weight: 200;
    }

    .project-section .cards{
        position: relative;
        width:fit-content;
        padding-left: 20%;
        margin-left: 0;
        top: 10vh;
    }

    .project-section .card1{
        margin-right: 0;
        height: 200px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-color: dodgerblue;
        border-width:6px 2px 6px 2px;
        width: 150px;
        position: relative;


    }

    .project-section .card2{
        margin-left: 40px;
        margin-right: 0;
        height: 200px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-color: dodgerblue;
        border-width:6px 2px 6px 2px;
        border-style: solid;
        width: 150px;
    }

    .project-section .card3{
        margin-left: 40px;
        background: transparent;
        margin-right: 0;
        height: 200px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-color: dodgerblue;
        border-width:6px 2px 6px 2px;
        border-style: solid;
        width: 150px;
    }

    .project-section .morebtn{
        position: relative;
        top: 200px;
        left: 75%;
        width: 200px;
        margin-right: 0;
        height:60px;
        background: #021925;
        border-radius: 60PX;
        display: flex;
        justify-content:center ;
        align-items: center;
        color:white;
        text-decoration: none;
        letter-spacing: 2px;
        border-top:0.6px solid #073750;
        border-left:0.6px solid #073750;
        border-bottom:0.1px solid #073750;
        border-right:0.1px solid #073750;
        padding-left: 40px;
        transition: 0.5s;
        overflow: hidden;
    }


    .skills-section{
        display: flex;
        padding: 0 5% 0 5%;
        position: relative;
        top: 90px;
        flex-direction: column;
        height: 200vh;
        letter-spacing: normal;
        width: 100%;
        margin-bottom: 0;
    }
    .skills-section #Skills{
        margin-bottom: 40px;
        font-size: 30px;
        font-weight: 300;

    }

    .skill-set{
        width: 90%;
        font-size: 15px;
        letter-spacing: .4px;
        line-height: 24px;
        position: relative;
        top: 30px;
    }

    .skillSub-content1{
        position: relative;
        text-align: center;
        top: 50px;
    }


    .skillSub-content{
        position: relative;
        padding-left: 10%;
        top: 10%;
        display: flex;
        flex-direction: row;
        align-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom:0;
    }


    .skillSub-content div{
        position: relative;
        left: 50px;
        margin-right: 100px;
        text-align: center;
        margin-bottom: 70px;
    }

    .education-section{
        position: relative;
        top: 0;
        display: flex;
        margin-top: 100px;
        align-content: center;
        flex-direction: column;
        height: 110vh;
        padding: 0 5% 0 5%;
        letter-spacing: normal;
        width: 100%;
        margin-bottom: 0;


    }

    .education-title{
        font-size: 30px;
        font-weight: 500;

    }

    .service-section{
        position: relative;
        top: 10px;
        padding: 0 5% 0 5%;
        display: flex;
        flex-direction: column;
        height: 100vh;
        letter-spacing: normal;
        width: 100%;
        margin-bottom: 0;
    }
    .service-title {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 0;
    }

    .cards-services{
        padding-left: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
        position: relative;
        top: 50px;
    }

    .cards-services .card-1{
        width: 250px;
        height: 300px;
        border-radius:10px;
        border-color: dodgerblue;
        border-width: 10px 2px 10px 2px;
        border-style: solid;
        text-align: center;
    }
    .card-1 p{
        position: relative;
        text-transform: capitalize;
        left: 0;
        font-size: 15px;

    }

    .card-1 .webDevelopment-title{
        text-align: center;
        position: relative;
        top: 20px;
        margin-bottom: 40px;
    }

    .cards-services .card-2{
        margin-left: 20px;
        width: 250px;
        height: 300px;
        border-radius:10px;
        border-color: dodgerblue;
        border-width: 10px 2px 10px 2px;
        border-style: solid;
        text-align: center;

    }

    .card-2 .App-development{
        text-align: center;
        position: relative;
        top: 20px;
        margin-bottom: 40px;
    }

    .card-2 p{
        position: relative;
        left: 4px;
        font-size: 15px;
        text-transform: capitalize;
    }

    .cards-services .card-3{
        margin-left: 20px;
        width: 250px;
        height: 300px;
        border-radius:10px;
        border-color: dodgerblue;
        border-width: 10px 2px 10px 2px;
        border-style: solid;
        text-align: center;

    }

    .card-3 .title{
        text-align: center;
        position: relative;
        top: 20px;
        margin-bottom: 40px;
    }

    .card-3 p{
        position: relative;
        left: 4px;
        font-size: 15px;
        text-transform: capitalize;
    }

    .Gallery-section{
        position: relative;
        top: 20px;
        display: flex;
        padding: 0 5% 0 5%;
        flex-direction: column;
        height: 100vh;
        letter-spacing: normal;
        width: 100%;
        margin-bottom: 0;
    }
    .Gallery-section .Gallery-title{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 100px;
    }

    .Gallery-section .photos {

        position: relative;
        top: 10px;
        display: flex;
        padding-left: 5%;
        flex-direction: row;
        align-items: center;
        width: 90%;
        justify-content: space-evenly;
        align-content: space-between;
        margin-bottom: 0;
    }
    .Gallery-section .photos img{
        width: 200px;
        border: #081b29 solid 2px;
    }

    .lastphoto1{
        height: 270px;
    }

    .contacts-section{
        padding: 0 5% 0 5%;
        top: 30px;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100vh;
        letter-spacing: normal;
        width: 100%;
        margin-bottom: 0;
    }

    .contacts-section .contact-title{
        font-size: 30px;
        font-weight: 300;
    }

    .contact-content{
        display: flex;
        flex-wrap: wrap;
        top: 60px;
        position: absolute;
        margin-bottom: 0;
    }
    .contact-content  a{
        display: flex;
        flex-direction: row;
        color: white;
        text-decoration: none;
        margin-top: 80px;
        width: fit-content;
        font-size: 15px;
    }

    .contact-content a img{
        margin-right: 5px;
    }

    .ContactForm{
        position: relative;
        display: flex;
        top: 100px;
        left: 70%;
        height: fit-content;
        bottom: 100px;
        color: black;
        font-weight: bolder;
        font-size: medium;
    }

    form input{
        position: relative;
        bottom: 30px;
        background:linear-gradient(rgba(37, 103, 144, 1),rgba(39, 106, 148, 1)) ;
        box-sizing: border-box;
        width: 300px;
        height: 20px;
        padding-bottom: 20px;
        font-size: 16px;
        margin-bottom: 50px;
        border-radius: 8px;
        font-weight: bold;
        color:greenyellow;

        border: 2px solid #90bef8;
        box-shadow: 2px 4px 15px rgba(105, 250, 224, 0.92);


    }

    form textarea{
        position: relative;
        bottom: 30px;
        background:linear-gradient(rgba(37, 103, 144, 1),rgba(39, 106, 148, 1)) ;
        box-sizing: border-box;
        width: 300px;
        font-size: 20px;
        margin-bottom: 50px;
        color:greenyellow;
        border-radius: 10px;
        font-weight: bold;
        border: 2px solid #90bef8;
        box-shadow: 2px 4px 15px rgba(105, 250, 224, 0.92);
    }

    .ContactForm button{
        opacity: .7;
        position: relative;
        color: #46a4ea;
        bottom: 135px;
        right: 570px;
        font-size:20px;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        background: #073750;
        border: 4px solid #90bef8;
        font-weight:50;
    }
    .copyrights{
        position: relative;
        bottom: 20px;
    }
footer p{
    width: 100%;
    margin: 3px 0 20px 0;
}
    footer{
        text-align: center;
        border: none;
        position: relative;
        display: flex;
        flex-direction: column;
        height:30vh;
        justify-items: center;
        letter-spacing: normal;
        width: 100%;
        align-items: center;
        /*line-height: 40px;*/
        font-size: 25px;
        background:linear-gradient(to right, rgba(12, 33, 46, 1), rgba(61, 15, 48, 1));
        margin-bottom: 0;
        margin-top: 0;
    }
    footer .footer-socialLinks{
        top: 25px;
    }


}


@media screen and (max-width:768px) {


    header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #081b29;
        padding:2px 5% 2px 5%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        font-size: 20px;
        text-decoration: none;
        font-weight: 500;
        animation: fadeIn 4s infinite alternate;
    }

    @keyframes fadeIn {
        0% {
            scale: 50%;
            opacity: .2;
            transform: translateY(-10px);
            color: rgba(110, 175, 251, 1);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
            color: white;
        }
    }

    .navigation a{
        margin-right: 0;
        font-size: 12px;
        color: white;
        text-decoration: none;
        font-weight: 500;
        margin-left:10px ;
        transition: .3s;
        opacity: .7;
    }

    .Home{
        /*border: 2px solid red;*/
        height: 90vh;
        display: flex;
        align-items: center;
        padding: 0 0 0 5%;
        width: 100%;
        margin-bottom: 0;
    }


    .hContent .image {
        /*border: 2px solid green;*/
        position: absolute;
        top: -20px;
        width: 350px;
        height: 80vh;
        outline: 30px solid #021925;
        outline-offset: -20px;

    }


    .About-section{
        /*border: 2px solid lightseagreen;*/
        top: 40px;
        padding: 0 0 0 5%;
    }


    .project-section {
        /*border: 2px solid lightcoral;*/
        position: relative;
        top: 50px;
        padding: 0 0 0 5%;


    }
    .project-section .cards{
        position: relative;
        top: 50px;
        left: 6%;
        padding: 0;
    }


    .project-section .morebtn{
        left: 75%;
        width: 150px;
        height:40px;

    }

    .morebtn span{
        width: 30px;
        height: 30px;
        font-size: 1em;
    }

    .skills-section{
        /*border: 2px solid lightcoral;*/
        padding: 0 0 0 5%;
        height: 170vh;
    }

    .skillSub-content img{
        height: 50px;
        width: 80%;

    }

    .education-section{
        /*border:  2px solid lightsteelblue;*/
        position: relative;
        top: 100px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 0 0 5%;


    }

    .timeline {
        padding-left: 50px;
        left: 10%;
    }

    .service-section{
        /*border: 3px solid #055b0d;*/
        position: relative;
        padding: 0 0 0 5%;
        top: 120px;
        height: 100vh;
        width: 100%;
        margin-bottom: 0;
    }

    .cards-services{
        top: 20%;
    }

    .cards-services .card-1{
        width: 200px;
        height: fit-content;
    }

    .card-1 p{
        font-size: 12px;
    }

    .cards-services .card-2{
        width: 200px;
        height: fit-content;
    }
    .card-2 p{
        font-size: 12px;
    }

    .cards-services .card-3{
        width: 200px;
        height: fit-content;
    }
    .card-3 p{
        font-size: 12px;
    }

    .Gallery-section{
        padding: 0 0 0 5%;
        /*border: 2px solid lightyellow;*/
        top: 100px;
        margin-bottom: 0;
    }

    .Gallery-section .photos {
        padding: 0;
        top: 10px;
        margin-left: 0;
        margin-bottom: 0;
    }
    .Gallery-section .photos img{
        width: 150px;
        border: #081b29 solid 2px;
    }
    .lastphoto1{
        height: 200px;
    }
    .contacts-section{
        padding: 0 0 0 5%;
        /*border: 2px solid green;*/
        top: 100px;
        width: 100%;
    }


    .ContactForm{
        position: relative;
        display: flex;
        top: 100px;
        left: 50%;
    }


    form input{
        width: 250px;

    }
    form textarea{
        width: 250px;
    }

    .ContactForm button{
        opacity: .7;
        position: relative;
        color: #46a4ea;
        bottom: 135px;
        right: 450px;
        font-size:20px;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        background: #073750;
        border: 4px solid #90bef8;
        font-weight:50;
    }

    /*.skillSub-content1 .sub-title{*/

    /*    margin-bottom: 80px;*/
    /*}*/

    footer {
        margin-top: 100px;
        width: 100%;
    }
        footer .pfooter{
            display: flex;
            width: 100%;
            justify-content: center;
        }


    footer p{
        text-align: center;
        font-size: 13px;
    }


}

@media screen and (max-width: 426px) {

    .menu-icon {
        font-size: 24px;
        display: inline-flex;
    }

    /*body{*/
    /*    border: 2px solid red;*/
    /*}*/
    .navigation {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        height: 100vh;
        background-color: #333;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        box-shadow: #073750 0 0 10px;
    }

    /* Show navigation when active (e.g., after clicking menu) */
    .navigation.active {
        display: flex;
        background: #021925;
        width: 50%;
    }

    .navigation li {
        width: 100%;
        padding: 10px 0;
        margin-bottom: 20px;
        text-align: start;
        box-shadow: #56eaef 0 0 10px;
    }





    .Home{
        top:-30px;
        height: 100vh;
        padding: 0 ;
        /*border: 2px solid red;*/
    }


    .hContent{
        position: relative;
        text-align: center;
        top: 20px;
        max-width:100% ;
        height: fit-content;

    }
    .hContent .image {
        position: absolute;
        top: -240px;
        right: unset;
        left: 10%;
        width:300px;
        height: 40vh;
    }

    .image img {
        width: 100%;
        height: 100%;
    }

    .hContent h1{
        top: 20px;
        left: 20%;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 0;
    }


    .hContent h3{
        top: 20px;
        font-size: 20px;
        padding-bottom: 20px;
        margin-top: 0;
        font-weight: 700;
        z-index: 1;
        color: rgba(110, 175, 251, 1);
    }


    .hContent p{
        top: 10px;
        left: 0;
        font-size: 16px;
        margin:10px 0 10px 0;
        letter-spacing: .2px;
        width:100%;
    }

    .resumebutton{
        top: 85px;
        position: relative;
        height: 20px;
        width: 100%;
    }

    .social-media{
        position: absolute;
        top: 330px;
        bottom: 0;
        /*text-align: center;*/
        left: 30%;
        width: 40vw;
        display: flex;
        align-content: space-between;
        justify-content: center;
    }

    .social-media a{
        width:30px ;
        height: 30px;
        text-align: center;
    }

    .social-media i{
        display: flex;
        /*top: 4px;*/
        right: 5px;
        font-size: 17px;
        position: absolute;
    }

    .About-section{
        /*border: 2px solid yellow;*/
        position: relative;
        height: 120vh;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0 2% 0 2%;


    }

    .about-title{
        width: 100%;
        font-size: 30px;
        font-weight: 500;
    }

    .sub-title{
        position: relative;
        top: 50px;
        margin-bottom: 40px;
    }

    .about-para{
        position: relative;
        top: 20px;
        width: 90%;
    }

    .my-detailabout{
        position: relative;
        top: 80px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width:80vw;
        margin-top: 30px;
        letter-spacing: .8px;
        height:40vh;
    }

    .my-detailabout p{
        width: 100%;
    }

    .project-section{
        /*border: 2px solid grey;*/
        position: relative;
        height:fit-content;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0 2% 0 2%;
        letter-spacing: normal;
        width: 100%;
        top: -40px;
    }

    .project-section .title{
        font-size: 30px;
        font-weight: 500;
    }
    .project-section .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width:fit-content;
        margin-left: 20%;
        gap: 1rem;
        top: 20px;

    }
    .project-section .card2{
        margin-left: 0;

    }

    .project-section .card3{
        margin-left: 0;

    }

    .project-section .morebtn{
        top: 100px;
        left:220px ;

    }
    .skills-section{
        height: 200vh;
        padding: 0 2% 0 2%;
        /*border: 2px solid lightcoral;*/
        width: 100%;
    }


    .skillSub-content1 .sub-title{
        font-size: 15px;

    }

    .education-section{
    /*border: 2px solid lightsteelblue;*/
        top: 200px;
    }

    .education-title{
        font-size: 30px;
        font-weight: 500;
    }

    .timeline {
        position: relative;
        padding-left: 0;
        width: 300px;
        left: 20%;
        top: 13%;
    }

    .timeline::before {
        left: -20px;
        top: 0;
        width: 2px;
        /*background-color: #56eaef;*/
    }
    .service-section{
        padding: 0 2% 0 2%;
        /*border: 2px solid #055b0d;*/
        height: 120vh ;
    }

    .cards-services{
        padding-left: 20%;
        align-content: space-between;
        top: 100px;
    }
    .cards-services .card-1{
        margin-left: 20px;
      margin-bottom: 20px;
    }

    .cards-services .card-2{
        margin-bottom: 20px;
    }

    .cards-services .card-3{
        margin-bottom: 20px;
    }

    .Gallery-section{
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 0 2% 0 2%;
        /*border: 2px solid lightyellow;*/
        top: 200px;
    }

    .Gallery-section .photos {

        position: relative;
        right: 0;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        align-content: space-between;
        margin-bottom: 0;
        bottom: 100px;
    }

    .Gallery-section .photos img{
        width: 100px;
        /*border: #081b29 solid 2px;*/
    }

    .contacts-section{
        top: 250px;
        height: 100vh;
    padding: 0 2% 0 2%;
        /*border: 2px solid red;*/
    }
    .contacts-section .contact-title{
        font-size: 30px;
    }
    .contact-links{
        position: absolute;
        top: 400px;
    }
    .ContactForm{
        position: absolute;
        top: 100px;
        left: 80px;


    }
    .ContactForm button{
        top: 120px;
        left: 200px;

    }


    footer{
        top: 200px;
        width: 100%;

    }

    .footer-socialLinks{
        position: absolute;
        bottom: 200px;
        width: 300px;
        display: flex;
        justify-content: space-evenly;

    }
    footer p{
        text-align: center;
        width: 100%;
    }

}

