@media screen and (max-width: 1025px) {

    body{
        border: 2px solid red;
    }

    header {
        padding: 15px 5% 15px 5%;
    }
    .navigation a{
        font-size: 8px;
        font-weight: 40;
        margin-left:0 ;
        transition: .3s;
        opacity: .7;
    }

    .Home {
        top: 100px;
        height: 100vh;
        padding: 0;
        width: 100%;
        border: 2px solid dodgerblue;
    }

    .hContent h1{
        font-size: 30px;
        font-weight: 100;
    }

    /*.project-section{*/
    /*    margin-top: 50px;*/
    /*    position: relative;*/
    /*    height: 100vh;*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    align-items: start;*/
    /*    padding:  0;*/
    /*    letter-spacing: normal;*/
    /*    width: 100%;*/
    /*}*/

    /*.project-section .title{*/
    /*    top: 30px;*/
    /*    margin-bottom: 40px;*/
    /*    font-size: 10px;*/
    /*    font-weight: 100;*/
    /*}*/

    /*.project-section .cards{*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    align-items: center;*/
    /*    position: relative;*/
    /*    width:fit-content;*/
    /*    margin-left: 260px;*/
    /*    gap: 1rem;*/
    /*    top: 10vh;*/

    /*    !* width: ;*/
    /*     height: 350px;*/
    /*     border-radius:10px;*/
    /*     border-color: dodgerblue;*/
    /*     border-width: 10px 3px 10px 3px;*/
    /*     border-style: solid;*!*/
    /*}*/
    /*!*@media screen and (max-width: 1245px) {*!*/
    /*!*    .project-section .cards {*!*/
    /*!*        margin-left: 10%;*!*/
    /*!*    }*!*/
    /*!*}*!*/

    /*.project-section .card1{*/
    /*    margin-right: 50px;*/
    /*    background: transparent;*/
    /*    height: 200px;*/
    /*    border-radius: 4px;*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    align-items: center;*/
    /*    border-color: dodgerblue;*/
    /*    border-width:6px 3px 6px 3px;*/
    /*    border-style: solid;*/
    /*    width: 150px;*/
    /*    position: relative;*/


    /*}*/
    /*.project-section .card2{*/
    /*    margin-left: 100px;*/
    /*    position: relative;*/
    /*    background: transparent;*/
    /*    margin-right: 40px;*/
    /*    height: 200px;*/
    /*    border-radius: 4px;*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    align-items: center;*/
    /*    border-color: dodgerblue;*/
    /*    border-width:6px 3px 6px 3px;*/
    /*    border-style: solid;*/
    /*    width: 150px;*/
    /*}*/

    /*.project-section .card3{*/
    /*    margin-left: 100px;*/
    /*    position: relative;*/
    /*    background: transparent;*/
    /*    margin-right: 40px;*/
    /*    height: 200px;*/
    /*    border-radius: 4px;*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    align-items: center;*/
    /*    border-color: dodgerblue;*/
    /*    border-width:6px 3px 6px 3px;*/
    /*    border-style: solid;*/
    /*    width: 150px;*/
    /*}*/

    /*.project-section button{*/
    /*    background: transparent;*/
    /*    position: absolute;*/
    /*    top: 20px;*/
    /*    width: 60px;*/
    /*    left: 0;*/
    /*    right: 0;*/
    /*    bottom: 0;*/
    /*    margin: auto;*/
    /*    aspect-ratio: 1/1;*/
    /*    border-radius: 100%;*/
    /*}*/



    /*.project-section i{*/
    /*    font-size: 60px;*/
    /*    color: #387bc9;*/
    /*}*/
    /*!*@media screen and (max-width:1245px ) {*!*/
    /*!*    .service-section {*!*/
    /*!*     color: #56eaef;*!*/
    /*!*    }*!*/
    /*!*}*!*/

    /*.project-section .morebtn{*/
    /*    position: relative;*/
    /*    top: 200px;*/
    /*    left: 1100px;*/
    /*    width: 200px;*/
    /*    margin-right: 300px;*/
    /*    height:60px;*/
    /*    background: #021925;*/
    /*    border-radius: 60PX;*/
    /*    display: flex;*/
    /*    justify-content:center ;*/
    /*    align-items: center;*/
    /*    color:white;*/
    /*    text-decoration: none;*/
    /*    letter-spacing: 2px;*/
    /*    border-top:0.6px solid #073750;*/
    /*    border-left:0.6px solid #073750;*/
    /*    border-bottom:0.1px solid #073750;*/
    /*    border-right:0.1px solid #073750;*/
    /*    padding-left: 40px;*/
    /*    transition: 0.5s;*/
    /*    overflow: hidden;*/
    /*}*/
    /*!*@media screen and (max-width: 1245px) {*!*/
    /*!*    .project-section .morebtn {*!*/
    /*!*        left: 80%;*!*/
    /*!*    }*!*/
    /*!*}*!*/

    /*.project-section .morebtn:hover{*/
    /*    padding-left:0 ;*/
    /*    padding-right: 40px;*/
    /*    color: #56eaef;*/
    /*}*/

    /*.morebtn span{*/
    /*    position: absolute;*/
    /*    left: 5px;*/
    /*    width: 50px;*/
    /*    height: 50px;*/
    /*    background: #387bc9;*/
    /*    border-radius: 50%;*/
    /*    transition: 0.5s ease-in-out;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    color: black;*/
    /*    font-size: 1.5em;*/
    /*}*/

    /*.morebtn i{*/
    /*    font-size: 30px;*/
    /*    color: black;*/
    /*}*/

    /*.morebtn:hover span{*/
    /*    left: calc(100% - 55px);*/
    /*    background: #56eaef;*/
    /*}*/

    /*.morebtn:after{*/
    /*    content: "";*/
    /*    position: absolute;*/
    /*    width: 80px;*/
    /*    height: 100%;*/
    /*    z-index: 1;*/
    /*    background: #113649;*/
    /*    transform: translateX(-170px) skewX(30deg);*/
    /*    transition: 0.85s ease-in-out;*/
    /*}*/

    /*.morebtn:hover:after{*/
    /*    transform: translateX(170px) skewX(30deg);*/
    /*}*/









    /*.project-section{*/
    /*    margin-top: 50px;*/
    /*    position: relative;*/
    /*    height: 100vh;*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    align-items: start;*/
    /*    padding:  2px ;*/
    /*    letter-spacing: normal;*/
    /*    width: 100%;*/
    /*}*/

    /*.project-section .title{*/
    /*    top: 30px;*/
    /*    margin-bottom: 40px;*/
    /*    font-size: 40px;*/
    /*    font-weight: 500;*/
    /*}*/

    /*.project-section .cards{*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    align-items: center;*/
    /*    position: relative;*/
    /*    width:fit-content;*/
    /*    margin-left: 1px;*/
    /*    gap: 10px;*/
    /*    top: 10vh;*/

    /*}*/


    /*.project-section .card1{*/
    /*    margin-right: 0;*/
    /*    background: transparent;*/
    /*    height: 50px;*/
    /*    border-radius: 4px;*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    align-items: center;*/
    /*    border-color: dodgerblue;*/
    /*    border-width:6px 3px 6px 3px;*/
    /*    border-style: solid;*/
    /*    width: 60px;*/
    /*    position: relative;*/


    /*}*/
    /*.project-section .card2{*/
    /*    margin-left: 0;*/
    /*    position: relative;*/
    /*    background: transparent;*/
    /*    margin-right: 0;*/
    /*    height: 50px;*/
    /*    border-radius: 4px;*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    align-items: center;*/
    /*    border-color: dodgerblue;*/
    /*    border-width:6px 3px 6px 3px;*/
    /*    border-style: solid;*/
    /*    width: 60px;*/
    /*}*/

    /*.project-section .card3{*/
    /*    margin-left: 0;*/
    /*    position: relative;*/
    /*    background: transparent;*/
    /*    margin-right: 0;*/
    /*    height: 50px;*/
    /*    border-radius: 4px;*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    align-items: center;*/
    /*    border-color: dodgerblue;*/
    /*    border-width:6px 3px 6px 3px;*/
    /*    border-style: solid;*/
    /*    width: 60px;*/
    /*}*/

    /*.project-section button{*/
    /*    background: transparent;*/
    /*    position: absolute;*/
    /*    top: 20px;*/
    /*    width: 60px;*/
    /*    left: 0;*/
    /*    right: 0;*/
    /*    bottom: 0;*/
    /*    margin: 0;*/
    /*    aspect-ratio: 1/1;*/
    /*    border-radius: 100%;*/
    /*}*/



    /*.project-section i{*/
    /*    font-size: 60px;*/
    /*    color: #387bc9;*/
    /*}*/
    /*!*@media screen and (max-width:1245px ) {*!*/
    /*!*    .service-section {*!*/
    /*!*     color: #56eaef;*!*/
    /*!*    }*!*/
    /*!*}*!*/

    /*.project-section .morebtn{*/
    /*    position: relative;*/
    /*    top: 200px;*/
    /*    left: 0;*/
    /*    width: 20px;*/
    /*    margin-right: 0;*/
    /*    height:60px;*/
    /*    background: #021925;*/
    /*    border-radius: 60PX;*/
    /*    display: flex;*/
    /*    justify-content:center ;*/
    /*    align-items: center;*/
    /*    color:white;*/
    /*    text-decoration: none;*/
    /*    letter-spacing: 2px;*/
    /*    border-top:0.6px solid #073750;*/
    /*    border-left:0.6px solid #073750;*/
    /*    border-bottom:0.1px solid #073750;*/
    /*    border-right:0.1px solid #073750;*/
    /*    padding-left: 0;*/
    /*    transition: 0.5s;*/
    /*    overflow: hidden;*/
    /*}*/
    /*!*@media screen and (max-width: 1245px) {*!*/
    /*!*    .project-section .morebtn {*!*/
    /*!*        left: 80%;*!*/
    /*!*    }*!*/
    /*!*}*!*/

    /*.project-section .morebtn:hover{*/
    /*    padding-left:0 ;*/
    /*    padding-right: 40px;*/
    /*    color: #56eaef;*/
    /*}*/

    /*.morebtn span{*/
    /*    position: absolute;*/
    /*    left: 5px;*/
    /*    width: 50px;*/
    /*    height: 50px;*/
    /*    background: #387bc9;*/
    /*    border-radius: 50%;*/
    /*    transition: 0.5s ease-in-out;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    color: black;*/
    /*    font-size: 1.5em;*/
    /*}*/

    /*.morebtn i{*/
    /*    font-size: 30px;*/
    /*    color: black;*/
    /*}*/

    /*.morebtn:hover span{*/
    /*    left: calc(100% - 55px);*/
    /*    background: #56eaef;*/
    /*}*/

    /*.morebtn:after{*/
    /*    content: "";*/
    /*    position: absolute;*/
    /*    width: 80px;*/
    /*    height: 100%;*/
    /*    z-index: 1;*/
    /*    background: #113649;*/
    /*    transform: translateX(-170px) skewX(30deg);*/
    /*    transition: 0.85s ease-in-out;*/
    /*}*/

    /*.morebtn:hover:after{*/
    /*    transform: translateX(170px) skewX(30deg);*/
    /*}*/



    /*.Home{*/
    /*   display: none;*/
    /*}*/

    /*.hContent{*/
    /*    display: none;*/

    /*}*/

    /*.hContent h1{*/
    /*    display: none;*/
    /*}*/


    /*.hContent p{*/
    /*    display: none;*/

    /*}*/

    /*.hContent h3{*/
    /*    display: none;*/

    /*}*/



    /*.resumebutton button{*/
    /*    display: none;*/

    /*}*/


    /*.resumebutton button::before{*/
    /*    display: none;*/

    /*}*/


    /*.social-media{*/
    /*    display: none;*/


    /*}*/

    /*.social-media i{*/
    /*    display: none;*/

    /*}*/

    /*.social-media a{*/
    /*    display: none;*/

    /*}*/



    /*.hContent .image {*/
    /*    display: none;*/

    /*}*/

    /*.image img {*/
    /*    display: none;*/

    /*}*/



    /*.About-section{*/
    /*    display: none;*/

    /*}*/


    /*.about-title{*/
    /*    display: none;*/

    /*}*/

    /*.about-para{*/
    /*    display: none;*/

    /*}*/

    /*.sub-title{*/
    /*    display: none;*/

    /*}*/

    /*.my-detailabout{*/
    /*    display: none;*/

    /*}*/

    /*.my-detailabout p{*/
    /*    display: none;*/

    /*}*/






    /*.skills-section{*/
    /*    display: none;*/

    /*}*/

    /*.skills-section #Skills{*/
    /*    display: none;*/


    /*}*/

    /*.skill-set{*/
    /*    display: none;*/

    /*}*/

    /*.skillSub-content1{*/
    /*    display: none;*/

    /*}*/

    /*.skillSub-content1 .sub-title{*/
    /*    display: none;*/

    /*}*/

    /*.skillSub-content{*/
    /*    display: none;*/



    /*}*/

    /*.skillSub-content div{*/
    /*    display: none;*/

    /*}*/

    /*.skillSub-content img{*/
    /*    display: none;*/

    /*}*/

    /*.education-section{*/
    /*    display: none;*/



    /*}*/

    /*.education-title{*/
    /*    display: none;*/

    /*}*/

    /*.timeline {*/
    /*    display: none;*/

    /*}*/

    /*.timeline::before {*/
    /*    display: none;*/

    /*}*/

    /*.timeline-item {*/
    /*    display: none;*/

    /*}*/

    /*.timeline-item:last-child {*/
    /*    display: none;*/

    /*}*/

    /*.timeline-item::before {*/
    /*    display: none;*/

    /*}*/


    /*.timeline-item h3 {*/
    /*    display: none;*/

    /*}*/

    /*.timeline-item h3:hover{*/
    /*    display: none;*/


    /*}*/

    /*.timeline-item p {*/
    /*    display: none;*/

    /*}*/

    /*.timeline-year {*/
    /*    display: none;*/

    /*}*/

    /*.timeline-year:hover{*/
    /*    display: none;*/

    /*}*/

    /*.timeline-content {*/
    /*    display: none;*/

    /*}*/

    /*.timeline-content:hover{*/
    /*    display: none;*/


    /*}*/



    /*.service-section{*/
    /*    display: none;*/

    /*}*/


    /*.service-title{*/
    /*    display: none;*/

    /*}*/

    /*.cards-services{*/
    /*    display: none;*/

    /*}*/


    /*.\.menukey{*/
    /*    display: none;*/
    /*}*/


    /*.cards-services .card-1{*/
    /*    display: none;*/

    /*}*/
    /*.card-1 img{*/
    /*    display: none;*/

    /*}*/
    /*.card-1 .webDevelopment-title{*/
    /*    display: none;*/

    /*}*/

    /*.card-1 p{*/
    /*    display: none;*/


    /*}*/
    /*.cards-services .card-2{*/
    /*    display: none;*/
    /*}*/


    /*.card-2 img{*/
    /*    display: none;*/
    /*;*/
    /*}*/

    /*.card-2 .App-development{*/
    /*    display: none;*/

    /*}*/

    /*.card-2 p{*/
    /*    display: none;*/

    /*}*/

    /*.cards-services .card-3{*/
    /*    display: none;*/


    /*}*/

    /*.card-3 img{*/
    /*    display: none;*/

    /*}*/
    /*.card-3 .title{*/
    /*    display: none;*/

    /*}*/
    /*.card-3 p{*/
    /*    display: none;*/

    /*}*/


    /*.Gallery-section{*/
    /*    display: none;*/

    /*}*/
    /*.Gallery-section .Gallery-title{*/
    /*    display: none;*/

    /*}*/


    /*.Gallery-section .photos {*/
    /*    display: none;*/

    /*}*/


    /*.Gallery-section .photos img{*/
    /*    display: none;*/

    /*}*/



    /*.service-section{*/
    /*    display: none;*/

    /*}*/


    /*.lastphoto1{*/
    /*    display: none;*/
    /*}*/


    /*.contacts-section{*/
    /*    display: none;*/

    /*}*/
    /*.contact-content{*/
    /*    display: none;*/

    /*}*/
    /*.contacts-section .contact-title{*/
    /*    display: none;*/

    /*}*/
    /*.contact-content  a{*/
    /*    display: none;*/

    /*}*/

    /*.contact-content a img{*/
    /*    display: none;*/
    /*}*/
    /*.ContactForm{*/
    /*    display: none;*/


    /*}*/


    /*form input{*/
    /*    display: none;*/


    /*}*/



    /*form textarea{*/
    /*    display: none;*/

    /*}*/

    /*.ContactForm button{*/
    /*    display: none;*/

    /*}*/



    /*footer{*/
    /*    display: none;*/

    /*}*/
    /*footer .pfooter{*/
    /*    display: none;*/

    /*}*/
    /*footer p{*/
    /*    display: none;*/

    /*}*/

    /*.footer-socialLinks{*/
    /*    display: none;*/

    /*}*/

    /*footer .copyrights p{*/
    /*    display: none;*/

    /*}*/

    /*.footer-socialLinks a{*/
    /*    display: none;*/


    /*}*/




    /*.footer-socialLinks a i{*/
    /*    display: none;*/

    /*}*/



}