*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}

html{
    overflow-x: hidden;
}


.menu-icon{
    cursor: pointer;
    display: none;
}



body{
    background: #021925;
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    overflow-x: hidden;
}

header nav ul li{
    list-style: none;
    display: inline-block;
}


header {
    min-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #081b29;
    padding: 15px 5% 15px 10%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    animation: fadeIn 4s infinite alternate;
}



@keyframes fadeIn {
    0% {
        scale: 70%;
        opacity: .2;
        transform: translateY(-20px);
        color: rgba(110, 175, 251, 1);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        color: white;
    }
}

.logo em{
    color: rgba(110, 175, 251, 1);
}


.navigation a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left:35px ;
    transition: .3s;
    opacity: .7;
}

.navigation a:hover{
    color: rgba(110, 175, 251, 1);
    font-weight: 900;
    width: 100%;
    font-size: 20px;
    opacity: 1;
    /*scale: 4;*/
}




.Home{
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    width: 100%;
    background: #021925;

}




.hContent{
    max-width:100% ;
}



.hContent h1{
    overflow: hidden;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 0;
    white-space: nowrap;
    width: 16ch;
    animation: typing 3s steps(16), blink 0.75s step-end infinite;
}

h2 em{
    color: rgba(110, 175, 251, 1);
    font-style: normal;

}

.skills-section h2 em{
    color: #56eaef;
    font-style: normal;

}

.education-section h2 em{
    font-style: normal;
    color: rgba(110, 175, 251, 1);
}

.service-section h2 em{
    font-style: normal;
    color: #56eaef;
}

.Gallery-section h2 em{
font-style: normal;
    color: rgba(110, 175, 251, 1);
}

.contacts-section h2 em{
    font-style: normal;
    color: #56eaef;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 16ch;
    }
}


@keyframes blink {
    50% {
        border-right-color: transparent;
    }
    100% {
        border-right-color: black;
    }
}
.hContent p{
    font-size: 16px;
    margin:30px 0 30px 0;
    letter-spacing: .4px;
    max-width: 51.8%;
    width: auto;
    height: auto;
}

.hContent h3{
    font-size: 30px;
    padding-bottom: 20px;
    margin-top: 0;
    font-weight: 700;
    z-index: 1;
    color: rgba(110, 175, 251, 1);
}

.resumebutton{
    top: 25px;
    position: relative;
    height: 20px;
    width: 100%;
}

.resumebutton button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: dodgerblue;
    letter-spacing: 2px;
    border-radius: 30px;
    border:rgba(110, 175, 251, 1)  0.125em solid ;
    text-shadow:
            0 0 .20em #fff7,
            0 0 .30em rgb(27, 42, 100);
    box-shadow:
            inset 0 0 .3em rgba(110, 175, 251, 1) ,
            0 0 .5em rgba(110, 175, 251, 1) ;
    padding: 1em 2em;
    font-size: 16px;
    font-weight: 700;
    background: #021925;
    transition: .8s;
}


.resumebutton button::before{
    content:"";
    position: absolute;
    top: 110%;
    width: 100%;
    height: 75%;
    background:rgba(110, 175, 251, 1) ;
    transform:
            perspective(0.2em)
            rotateX(10deg)
            scale(1.3,0.40);
    filter: blur(0.5em);
    opacity: 0.3;
    transition: opacity .8s linear;
}




.resumebutton button:hover{
    color:  white;
    background: rgb(77, 147, 234);
    border: 5px solid rgb(138, 186, 255);

}

.resumebutton button:hover::before{
    opacity: 0.8;
}


.social-media{
    position: absolute;
    bottom: 40px;
    width: 40vw;
    display: flex;
    align-content: space-between;
    justify-content: start;
}

.social-media i{
    display: flex;
    top: 10px;
    right: 12px;
    position: absolute;
}

.social-media a{
    position: relative;
    width:40px ;
    height: 40px;
    background:#021925;
    border: 2px solid rgba(110, 175, 251, 1);
    border-radius: 50%;
    color:rgba(110, 175, 251, 1) ;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    margin-right: 15px;
}

.social-media a::before{
    content: '';
    position: absolute;
    background: rgba(110, 175, 251, 1) ;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .6s;
}

.social-media a:hover::before{
    width: 100%;
}

.social-media a:hover{
    color:#021925 ;
}


.hContent .image {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 700px;
    height: 90vh;
    outline: 50px solid #021925;
    outline-offset: -40px;
}

.image img {
    width: 100%;
    height: 100%;
}




.About-section{
    min-height: 100vh;
    position: relative;
    height: auto;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 8% 0 0 10%;
    background: #003244;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

/* About Section */
.about-section {
    display: flex;
    align-items: center;
    background-color: #021925;
    padding: 20px;
    border-radius: 10px;
}

.profile-photo img {
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
    /*filter: grayscale(100%);*/
}

.info {
    margin-left: 40px;
    flex: 1;
}

.About-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #00E0FF;
}

.About-section h1 span {
    color: #fff;
}

.details {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.details p {
    width: 50%;
    margin-bottom: 30px;
}

.description {
    font-size: 1rem;
    line-height: 1.6;
}

/* Mission and Vision Section */
.mission-vision {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.mission, .vision {
    background-color: #021925;
    padding: 20px;
    border-radius: 10px;
    width: 48%;
}

.mission h2, .vision h2 {
    font-size: 1.5rem;
    color: #00E0FF;
    margin-bottom: 10px;
}

.mission p, .vision p {
    font-size: 1.1rem;
    color: #C4C4C4;
    line-height: 1.6;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 30px 0;
    }

    .about-section {
        flex-direction: column;
        text-align: center;
    }

    .profile-photo img {
        width: 200px;
        margin-bottom: 20px;
    }

    .info {
        margin-left: 0;
    }

   .About-section h1 {
        font-size: 2.5rem;
    }

    .details p {
        width: 100%;
    }

    .mission-vision {
        flex-direction: column;
        gap: 20px;
    }

    .mission, .vision {
        width: 100%;
    }
}

@media (max-width: 480px) {
   .About-section h1 {
        font-size: 2rem;
    }

    .profile-photo img {
        width: 100px;
        height: 150px;
    }

    .details p {
        font-size: 0.9rem;
    }

    .mission h2, .vision h2 {
        font-size: 1.3rem;
    }

    .mission p, .vision p {
        font-size: 1rem;
    }
}








/*.about-title{*/

/*    font-size: 40px;*/
/*    font-weight: 500;*/
/*}*/

/*.about-para{*/
/*    position: relative;*/
/*    top: 30px;*/
/*    width: auto;*/
/*    max-width: 60vw;*/

/*    height: auto;*/

/*}*/

/*.sub-title{*/
/*    position: relative;*/
/*    top: 30px;*/
/*    margin-bottom: 40px;*/
/*}*/

/*.my-detailabout{*/
/*    position: relative;*/
/*    top: 0;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    width:80vw;*/
/*    margin:150px auto 10px 2px;*/
/*    letter-spacing: .8px;*/
/*    height: auto;*/

/*}*/

/*.my-detailabout p{*/
/*    margin-bottom: 30px;*/
/*    margin-right:auto ;*/
/*    margin-left:auto;*/
/*    width: 40vw;*/
/*}*/


.project-section{
    margin: auto;
    background: #021925;
    position: relative;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 8% 0 0 10%;
    letter-spacing: normal;
    width: 100%;
}

.project-section .title{
    top: 30px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 500;
}

.project-section .cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: center;
    justify-items: center;
    align-content: center;
    /*width:auto;*/
    gap: 10rem;
    overflow: hidden;
    min-height: 100vh;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 60px;


}


.project-section .card{
    /*margin-right: 50px;*/
    background: transparent;
    min-height: 200px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: dodgerblue;
    border-width:6px 3px 6px 3px;
    border-style: solid;
    width: 150px;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}

.project-section button{
    background: transparent;
    position: absolute;
    top: 20px;
    width: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.project-section button:hover{
    background: #56eaef;
    color: #021925;
}


.project-section i{
    font-size: 60px;
    color: #387bc9;
}

.project-section .morebtn{
    position: absolute;
    bottom: 50px;
    right: 40px;
    min-width: 200px;
    /*width: 200px;*/
    /*margin-right: 300px;*/
    height:60px;
    background: #021925;
    border-radius: 60PX;
    display: flex;
    justify-content:center ;
    align-items: center;
    color:white;
    text-decoration: none;
    letter-spacing: 2px;
    border-top:0.6px solid #073750;
    border-left:0.6px solid #073750;
    border-bottom:0.1px solid #073750;
    border-right:0.1px solid #073750;
    padding-left: 40px;
    transition: 0.5s;
    overflow: hidden;
}

.project-section .morebtn:hover{
    padding-left:0 ;
    padding-right: 40px;
    color: #56eaef;
}

.morebtn span{
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background: #387bc9;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5em;
}

.morebtn i{
    font-size: 30px;
    color: black;
}

.morebtn:hover span{
    left: calc(100% - 55px);
    background: #56eaef;
}

.morebtn:after{
    content: "";
    position: absolute;
    width: 80px;
    height: 100%;
    z-index: 1;
    background: #113649;
    transform: translateX(-170px) skewX(30deg);
    transition: 0.85s ease-in-out;
}

.morebtn:hover:after{
    transform: translateX(170px) skewX(30deg);
}

.skills-section{
    background: #003244;
   height: auto;
    display: flex;
    flex-direction: column;
    min-height: 230vh;
    padding: 8% 0 0 10%;
    letter-spacing: normal;
    max-width: 100%;
    width: auto;
    margin-bottom: -400px;
}

.skills-section #Skills{
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 500;

}

.skill-set{
    width: 80vw;
    font-size: 18px;
    letter-spacing: .4px;
    line-height: 40px;
}

.skillSub-content1{
    position: relative;
    text-align: center;
    top: 80px;
}

.skillSub-content1 .sub-title{
    color: dodgerblue;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 80px;
}

.skillSub-content{
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 200px;
    height: auto;
    width: auto;
}

.skillSub-content div{
    display: flex;
    align-items: center;
    background-color: #003244;
    border-radius: 20px; /* Rounded rectangle shape */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add some shadow */
    transition: transform 0.3s ease-in-out;
        width: 150px;
    /*position: relative;*/
    /*left: 50px;*/
    margin-right: 100px;
    text-align: center;
    margin-bottom: 70px;
}

.skillSub-content div:hover {
    transform: scale(1.1); /* Hover effect for interactivity */
}
.skillSub-content img{
    width: 30px;
    border-radius: 50%; /* Make the images circular */
    border: 2px solid #ddd;
    margin-right: 4px;
    margin-bottom: 10px;
    object-fit: cover;
}

.education-section{
    position: relative;
    display: flex;
    margin: auto;
    align-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 8% 0 0 10%;
    letter-spacing: normal;
    max-width: 100%;
    width: auto;
    height: auto;
    background: #021925;


}

.education-title{
    font-size: 40px;
    font-weight: 500;

}

.timeline {
    position: relative;
    padding-left: 50px;
    width: 600px;
    left: 25%;
    top: 20%;
    margin-top: 100px;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 25px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #56eaef;
}

.timeline-item {
    margin-bottom: 40px;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -40px;
    top: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #56eaef;
    border: 2px solid #000;
}


.timeline-item h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #fff;
    border-bottom: 2px solid #56eaef;
    display: inline-block;
}

.timeline-item h3:hover{
    color: #003244;

}

.timeline-item p {
    margin: 10px 0 0;
    font-size: 0.9rem;
    color: #bbb;
}

.timeline-year {
    position: absolute;
    left: -90px;
    top: 0;
    font-size: 1.1rem;
    color: #56eaef;
}

.timeline-year:hover{
    font-size: 1.5rem;
}

.timeline-content {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid #56eaef;
    border-radius: 8px;
}

.timeline-content:hover{
    background-color: rgb(77, 147, 234);
    color: #081b29;

}



.service-section{
    background: #003244;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 8% 0 0 10%;
    height: auto;
    letter-spacing: normal;
    /*max-width: 100%;*/
}


.service-title{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    width: auto;
}

.cards-services{
    /*padding-left: 10%;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-items: center;
    /*text-align: center;*/
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 30px;
}





.cards-services .scards{
    position: relative;
    max-width: 300px;
    width: auto;
    min-height: 50vh;
    height: auto;
    border-radius:10px;
    border-color: dodgerblue;
    border-width: 10px 3px 10px 3px;
    border-style: solid;
    text-align: center;
    margin-bottom: 30px;
}
.scards img{
    position: relative;
    top: 10px;

}

.scards .title{
    text-align: center;
    position: relative;
    top: 20px;
    margin-bottom: 60px;
}

.scards p{
    position: relative;
    text-transform: capitalize;
    left: 4px;
    width: auto;

}


.Gallery-section{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 8% 8% 0 10%;
    letter-spacing: normal;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
    background: #021925;

}
.Gallery-section .Gallery-title{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 100px;
}


.Gallery-section .photos {

    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    justify-content: space-evenly;
    align-content: space-between;
    margin-bottom: 200px;
}


.Gallery-section .photos img{
    width: 300px;
    border: #081b29 solid 2px;
}




.lastphoto1{
    height: 400px;
}

.contacts-section {
    padding: 8% 8% 0 10%;
    background: #003244;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 auto;
}

.contact-title h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #f8f5f5;
    margin-bottom: 40px;
    position: relative;
}



.contact-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}

/* Contact Links Styling */
.contact-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.contact-links div {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*gap: 12px;*/
    display: inline-flex;
    padding: 10px 10px;
    background-color: #003244;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.contact-links div a{
    display: flex;
    justify-content: center;
    color: #e6f6fa;

}

.contact-links div a p{
    margin: auto;
}


.contact-links div:hover {
    background-color: #021925;
    color: #ffffff;
    transform: translateY(-5px);
}

.contact-links img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.contact-links p {
    font-size: 15px;
    margin: 0;
}

/* Contact Form Styling */
.ContactForm {
    flex: 1;
    max-width: 600px;
}

.ContactForm form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ContactForm input,
.ContactForm textarea {
    width: 100%;
    padding: 15px;
    border-color: #8ff0fd;
    border-radius: 10px;
    font-size: 1rem;
    background-color: rgba(68, 113, 145, 0.67);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s, background-color 0.3s;
}

.ContactForm input:focus,
.ContactForm textarea:focus {
    border-color: #8ff0fd;
    background-color: rgb(47, 203, 238);
    outline: none;
}

.ContactForm textarea {
    background-color: rgba(68, 113, 145, 0.67);
    resize: none;
    height: 150px;
}

.ContactForm button {
    padding: 15px 30px;
    background-color: transparent;
    color: #e3ecef;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    border: 2px solid #8ff0fd; ;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

.ContactForm button:hover {
    background-color: rgba(135, 255, 216, 0.49);
    transform: translateY(-3px);
}

footer{
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    height: auto;
    width: auto;
    justify-items: center;
    letter-spacing: normal;
    max-width: 100%;
    align-items: center;
    /*line-height: 40px;*/
    font-size: 25px;
    background:linear-gradient(to right, rgb(2, 25, 37), rgb(0, 50, 68));
}
.pfooter{
    /*width: auto;*/
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.footer-socialLinks{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: auto;
    height: auto;
    max-width: 100%;
    margin-bottom: 20px;
    gap: 15px;
}

.pfooter{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.copyrights p{
    color: #56eaef;
    font-size: 15px;
    margin: 10px auto 10px auto;
}

.footer-socialLinks a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:40px ;
    height: 40px;
    background:#081b29;
    border: 2px solid rgba(110, 175, 251, 1);
    border-radius: 50%;
    color:rgba(110, 175, 251, 1) ;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 10px;

}

.footer-socialLinks a i{
    position: relative;
    left:0;
}

.footer-socialLinks a::before{
    content: '';
    position: absolute;
    background: rgba(110, 175, 251, 1) ;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .6s;
}



.footer-socialLinks a:hover::before{
    width: 100%;
}

.footer-socialLinks a:hover{
    color:#081b29 ;

}


